//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

&mt {
    quick-tap-ms = <100>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┌───────────────────────────────────────────────────────────┐

            display-name = "BASE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │    Q    │    W    │    F    │    P    │    G    │                    │    J    │    L    │    U    │    Y    │    ;    │   
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │   TAB   │    A    │    R    │    S    │    T    │    D    │                    │    H    │    N    │    E    │    I    │    O    │    "    │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │   DEL   │    Z    │    X    │    C    │    V    │    B    ││  MUTE  ││PLY/PSE ││    K    │    M    │    ,    │    .    │    /    │    \    │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │  CTRL   │  LOWER  │  SPACE  │   ALT   ││ CMD/WIN │  ENTER  │  RAISE  │  BSPCE  │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
           &kp Q       &kp W       &kp E        &kp R         &kp T                              &kp Y          &kp U         &kp I         &kp O       &kp P
&kp TAB    &mt LWIN A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G                              &kp H          &mt RSHIFT J  &mt RCTRL K   &mt RALT L  &mt RWIN ENTER  &kp BSPC
&kp LSHFT  &kp Z       &kp X       &kp C        &kp V         &kp B      &kp C_MUTE  &kp C_MUTE  &kp N          &kp M         &kp COMMA     &kp DOT     &kp FSLH        &kp RSHFT
                                   &lt 3 ESC    &lt 1 SPACE   &lt 2 TAB  &trans      &trans      &kp BACKSPACE  &lt 1 SPACE   &lt 4 DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        number_symble {
            bindings = <
        &kp N1             &kp N2              &kp N3                      &kp N4                            &kp N5                             &kp N6     &kp N7            &kp N8           &kp N9                     &kp N0
&trans  &mt LEFT_WIN PLUS  &mt LEFT_ALT COLON  &mt LCTRL LEFT_PARENTHESIS  &mt RIGHT_PARENTHESIS LEFT_SHIFT  &kp QUESTION                       &kp MINUS  &mt RSHIFT EQUAL  &mt RCTRL SLASH  &mt RALT NON_US_BACKSLASH  &mt RWIN SEMICOLON  &trans
&trans  &kp PIPE           &kp UNDERSCORE      &kp LEFT_BRACE              &kp RIGHT_BRACE                   &kp DOUBLE_QUOTES  &trans  &trans  &kp APOS   &kp LBKT          &kp RBKT         &kp PERIOD                 &kp GRAVE           &trans
                                               &trans                      &trans                            &trans             &trans  &trans  &trans     &trans            &trans
            >;
        };

        nav {
            bindings = <
        &kp PRINTSCREEN  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &kp K_CALC                  &trans  &trans           &trans     &trans    &trans
&trans  &kp CAPSLOCK     &kp LEFT   &kp DOWN      &kp RIGHT  &kp INSERT                  &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RALT  &kp RWIN  &trans
&trans  &trans           &kp HOME   &kp C_MENU    &kp END    &trans      &trans  &trans  &trans  &trans           &trans     &trans    &trans    &trans
                                    &trans        &trans     &trans      &trans  &trans  &trans  &trans           &trans
            >;
        };

        media {
            bindings = <
        &trans  &trans  &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp C_VOL_DN  &kp C_VOL_UP  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans        &trans        &tog 5  &trans  &trans  &trans  &trans  &trans
            >;
        };

        function {
            bindings = <
        &trans    &trans        &trans     &trans      &trans                  &kp SLCK         &kp F9  &kp F10  &kp F11  &kp F12
&trans  &kp LWIN  &kp LEFT_ALT  &kp LCTRL  &kp LSHIFT  &trans                  &kp PAUSE_BREAK  &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans  &trans    &trans        &trans     &trans      &trans  &trans  &trans  &kp PRINTSCREEN  &kp F1  &kp F2   &kp F3   &kp F4   &trans
                                &trans     &trans      &trans  &trans  &trans  &trans           &trans  &trans
            >;
        };

        system {
            bindings = <
              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &trans  &trans            &trans             &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans                        &trans  &ext_power EP_ON  &ext_power EP_OFF  &trans  &trans  &trans
&out OUT_USB  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &rgb_ug RGB_TOG   &rgb_ug RGB_EFF    &trans  &trans  &out OUT_BLE
                                          &trans        &trans        &trans        &trans  &trans  &trans  &trans            &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};
